body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    background-color: antiquewhite;
}

header h1 {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: beige;
}

nav a {
    display: block;
    padding: 10px;
    background-color: antiquewhite;
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: aqua;
    background-color: blue;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

main {
    display: flex;
}


.card {
    border: thin solid #000;
    box-shadow: 3px 3px 3px rgba(40,40,40,0,5) ;
    width: 250px;
}

.card figure {
    margin: 0;
}

.card img {
    width: 100%;
}

@media ONLY screen AND (max-width: 900px){
    .row {
        flex-direction: column;
        allign-item: center;
    }

    .card {
        margin-bottom: 20px;
    }

    .feature {
        order: -1;
    }
}

@media ONLY screen AND (max-width: 700px) {
    nav {
        flex-direction: column;
    }

    nav a {
        border-bottom: thin solid #fff
    }


}